
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - watch
  - create
- apiGroups:
  - konsumerator.lwolf.org
  resources:
  - consumers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - konsumerator.lwolf.org
  resources:
  - consumers/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - update
  - patch
  - delete
  - list
- apiGroups:
  - apps
  resources:
  - deployments/status
  verbs:
  - get
